section{
    background: black;
    width: 80%;
    height: 32em;
    margin: auto;
    display: flex;
    justify-content: center;
    perspective: 34em;
}

section div{
    width: 47em;
    height: 7em;
    background: gray;
    align-self: end;
    border-radius: 4em 4em 0px 0px;
    box-shadow: 0.4em 0.4em 3em;
    transform: rotatex(50deg);
}

ul:nth-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}   

li:nth-child(1){
    background-color: red;
    width: 2em;
    height: 4em;
}   


ul:nth-of-type(2){

}   
ul:nth-of-type(2) li{

}   


figure{
    width: 3em;
    height: 6em;
    background-color: green;
    clip-path: polygon(42% 97%, 42% 73%, 22% 78%, 42% 56%, 22% 62%, 42% 36%, 32% 38%, 46% 16%, 58% 38%, 49% 36%, 66% 60%, 48% 56%, 66% 76%, 48% 73%, 49% 97%);
}

