section {
    background: linear-gradient(to bottom, rgb(1, 74, 107) 0%, rgb(0, 129, 180) 7%, rgb(5, 179, 170) 23%, rgb(248, 91, 0) 29%, rgb(43, 129, 26) 31%);
    width: 100%;
    height: 32em;
    margin: auto;
    display: flex;
    justify-content: center;
    perspective: 34em;
    flex-direction: column;
    align-items: center;
}

section div {
    width: 47em;
    height: 7em;
    background: gray;
    border-radius: 4em 4em 0px 0px;
    box-shadow: 0.4em 0.4em 3em;
    transform: rotatex(50deg);
    margin-top: auto;
}

section>div>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

span:first-of-type {
    background-image: url(img/crowd.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 13em;
    width: 13em;
    position: absolute;
    left: 9em;
    top: 11em;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-delay: .3s;

}


/* Explosie veld in het midden stuk */
section>article>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
}

section>article>ul>li {
    width: 2em;
    height: 4em;

}

section>article>ul>li:nth-child(2) {
    width: 2em;
    height: 4em;
    margin-right: 3em;
}

/* resupply knop */

a {
    padding: 6em;
    clip-path: polygon(31% 78%, 38% 82%, 47% 83%, 58% 83%, 66% 80%, 69% 73%, 70% 57%, 69% 41%, 67% 34%, 62% 32%, 66% 18%, 73% 19%, 70% 6%, 57% 16%, 62% 17%, 57% 32%, 50% 33%, 49% 16%, 54% 17%, 49% 6%, 43% 17%, 46% 16%, 47% 34%, 39% 35%, 34% 17%, 39% 17%, 27% 8%, 27% 20%, 30% 20%, 35% 34%, 28% 33%, 25% 40%, 25% 53%, 26% 63%);
    background: linear-gradient(360deg, rgba(21, 13, 8, 1) 5%, rgba(43, 27, 16, 1) 8%, rgba(22, 14, 9, 1) 11%, rgba(52, 32, 21, 1) 15%, rgba(22, 13, 9, 1) 19%, rgba(46, 28, 17, 1) 23%, rgba(32, 20, 12, 1) 27%, rgba(23, 14, 9, 1) 30%, rgba(41, 25, 15, 1) 34%, rgba(22, 13, 9, 1) 37%, rgba(38, 23, 14, 1) 42%, rgba(22, 13, 8, 1) 46%, rgba(34, 21, 12, 1) 52%, rgba(22, 14, 8, 1) 57%, rgba(30, 19, 11, 1) 69%, rgba(161, 78, 26, 1) 63%, rgba(161, 78, 26, 1) 80%, rgba(223, 33, 0, 1) 82%, rgba(255, 255, 255, 1) 86%, rgba(251, 17, 17, 1) 88%, rgba(255, 12, 12, 1) 92%, rgba(255, 255, 255, 1) 94%, rgba(251, 17, 17, 1) 96%);
}

span:nth-of-type(2):hover {
    transform: scale(1.1);
}

span:nth-of-type(2):active {
    transform: scale(.9);
}

span:nth-of-type(2) {
    filter: drop-shadow(9px 5px 4px rgba(7, 7, 7, 0.8));
    align-self: end;
    position: absolute;
    bottom: 5em;
}

/* Firework expotion template  */

.pellets {
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    transform: scale(0);
    background-color: pink;
    animation-duration: .5s;
    animation-play-state: forwards;
    animation-delay: .6s;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

/* Firework explotion expansion */

.pellets:first-of-type {
    --upDown: 10em;
    --leftRight: 10em;
}

.pellets:nth-of-type(2) {
    --upDown: -10em;
    --leftRight: 10em;
}

.pellets:nth-of-type(3) {
    --upDown: -10em;
    --leftRight: -10em;
}

.pellets:nth-of-type(4) {
    --upDown: 10em;
    --leftRight: -10em;
}

.pellets:nth-of-type(5) {
    --upDown: 0em;
    --leftRight: 10em;
}

.pellets:nth-of-type(6) {
    --upDown: 10em;
    --leftRight: 0em;
}

.pellets:nth-of-type(7) {
    --upDown: 0em;
    --leftRight: -10em;
}

.pellets:last-of-type {
    --upDown: -10em;
    --leftRight: 0em;
}


@keyframes explosion {
    0% {
        transform: translate(0em, 0em) scale(1);
    }

    100% {
        transform: translate(var(--leftRight), var(--upDown));
        opacity: 0;
    }
}


/* rakketjes en animatie raket schieten */
article {
    width: 47em;
}

div>ul>li {
    width: 12em;
    height: 6em;
}

div>ul>li:hover {
    animation-name: shakeitup;
    animation-duration: .2s;
    animation-iteration-count: infinite;
}

div>ul>li:first-child {
    background: linear-gradient(to bottom, rgba(51, 87, 247, 1) 10%, rgba(51, 87, 247, 1) 21%, rgba(255, 226, 226, 1) 24%, rgba(51, 87, 247, 1) 33%, rgba(255, 226, 226, 1) 41%, rgba(51, 87, 247, 1) 48%, rgba(255, 226, 226, 1) 53%, rgba(76, 36, 0, 1) 56%, rgba(76, 36, 0, 1) 93%);
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    clip-path: polygon(48% 9%, 60% 25%, 51% 25%, 52% 54%, 50% 54%, 50% 76%, 45% 76%, 45% 54%, 42% 55%, 43% 25%, 34% 25%);
}

div>ul>li:nth-child(2) {
    background: linear-gradient(to bottom, rgba(255, 127, 244, 1) 10%, rgba(201, 96, 180, 1) 21%, rgba(255, 226, 226, 1) 24%, rgba(249, 127, 225, 1) 33%, rgba(255, 226, 226, 1) 41%, rgba(237, 156, 216, 1) 48%, rgba(255, 226, 226, 1) 53%, rgba(76, 36, 0, 1) 56%, rgba(76, 36, 0, 1) 93%);
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    clip-path: polygon(48% 9%, 60% 25%, 51% 25%, 52% 54%, 50% 54%, 50% 76%, 45% 76%, 45% 54%, 42% 55%, 43% 25%, 34% 25%);
}

div>ul>li:nth-child(3) {
    background: linear-gradient(to bottom, rgba(225, 234, 58, 1) 10%, rgba(226, 229, 48, 1) 21%, rgba(255, 226, 226, 1) 24%, rgba(202, 214, 44, 1) 33%, rgba(255, 226, 226, 1) 41%, rgba(231, 234, 49, 1) 48%, rgba(255, 226, 226, 1) 53%, rgba(76, 36, 0, 1) 56%, rgba(76, 36, 0, 1) 93%);
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    clip-path: polygon(48% 9%, 60% 25%, 51% 25%, 52% 54%, 50% 54%, 50% 76%, 45% 76%, 45% 54%, 42% 55%, 43% 25%, 34% 25%);
}

div>ul>li:nth-child(4) {
    background: linear-gradient(to bottom, rgba(255, 48, 48, 1) 10%, rgba(249, 47, 50, 1) 19%, rgba(255, 226, 226, 1) 28%, rgba(249, 47, 50, 1) 35%, rgba(255, 226, 226, 1) 41%, rgba(249, 47, 50, 1) 46%, rgba(255, 226, 226, 1) 53%, rgba(76, 36, 0, 1) 56%, rgba(76, 36, 0, 1) 93%);
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    clip-path: polygon(48% 9%, 60% 25%, 51% 25%, 52% 54%, 50% 54%, 50% 76%, 45% 76%, 45% 54%, 42% 55%, 43% 25%, 34% 25%);
}

/* Checkboxes in de rakket */

label {
    clip-path: polygon(48% 9%, 60% 25%, 51% 25%, 52% 54%, 50% 54%, 50% 76%, 45% 76%, 45% 54%, 42% 55%, 43% 25%, 34% 25%);
    width: 12em;
    height: 6em;
    display: block;
}

#labelrocket1[type=checkbox]:checked~div>ul>li:first-child {
    animation-name: rocket1;
}

#labelrocket1[type=checkbox]:checked~span:first-of-type {
    animation-name: crowd;
}

/* rocket animation */
#labelrocket2[type=checkbox]:checked~div>ul>li:nth-child(2) {
    animation-name: rocket2;
}

/* explosion animation */
#labelrocket2[type=checkbox]:checked #sound {
    display: block;
}

/* sound effect */
#labelrocket2[type=checkbox]:checked~article .pink {
    animation-name: explosion;
}

#labelrocket3[type=checkbox]:checked~div>ul>li:nth-child(3) {
    animation-name: rocket3;
}

#labelrocket3[type=checkbox]:checked~article .yellow {
    animation-name: explosion;
}

#labelrocket4[type=checkbox]:checked~div>ul>li:nth-child(4) {
    animation-name: rocket4;
}

#labelrocket4[type=checkbox]:checked~article .red {
    animation-name: explosion;
}

input {
    display: none;
}

embed {
    position: absolute;
    top: -1000in;
    left: -1000in;
    display: none;
}


@keyframes crowd {
    0% {
        background-image: url(img/crowd.png);
    }

    74% {
        background-image: url(img/crowd.png);
    }

    75% {
        background-image: url(img/xplosie.png);
    }

    99% {
        background-image: url(img/xplosie.png);
    }

    100% {
        background-image: url(img/crowd2.png);
    }
}

@keyframes rocket1 {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: rotate(0) translateY(-14em) translateX(-2em) scale(.6);
    }

    50% {
        transform: rotate(0) translatey(-14em) translateX(-2em) rotate(70deg) scale(.6);
    }

    75% {
        transform: rotate(.75turn) translatey(-14em) translateX(-2em) rotate(90deg) scale(.6);
    }

    99% {
        transform: translateY(-26em) translateX(-40em) scale(.4) rotate(-40deg);
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rocket2 {
    0% {
        transform: translateY(0);
    }

    99% {
        transform: translateY(-17em) translateX(-4em) scale(.6);
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rocket3 {
    0% {
        transform: translateY(0);
    }

    99% {
        transform: translateY(-17em) translateX(4em) scale(.6);
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rocket4 {
    0% {
        transform: translateY(0);
    }

    99% {
        transform: translateY(-17em) translateX(7em) scale(.6);
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

@keyframes shakeitup {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(2px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Wolken */

figure {
    filter:
        drop-shadow(-91px 24px 1px rgba(255, 255, 255, .8)) drop-shadow(91px 24px 0px rgba(245, 245, 245, .9)) drop-shadow(315px -20px 1px rgba(245, 245, 245, .8)) drop-shadow(-615px -20px 1px rgba(245, 245, 245, .9)) drop-shadow(515px -20px 0px rgba(245, 245, 245, .8));
}

figure div {
    width: 5em;
    height: 0;
    clip-path: polygon(17% 60%, 13% 67%, 18% 76%, 27% 78%, 36% 78%, 41% 74%, 50% 73%, 59% 71%, 68% 75%, 81% 75%, 88% 68%, 90% 55%, 72% 47%, 65% 49%, 57% 51%, 52% 42%, 42% 43%, 35% 45%, 32% 52%, 25% 53%, 19% 56%);
    padding: 2em;
    background-color: white;
    animation-duration: 40s;
    animation-name: wolkjes;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* bomen */
section>ul {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;

}


/* Verschillende soorten bomen */
section>ul>li {
    width: 3em;
    height: 4em;
    background: linear-gradient(to bottom, rgb(122, 156, 58) 41%, rgba(46, 99, 56, 1) 79%, rgba(76, 36, 0, 1) 82%, rgba(76, 36, 0, 1) 100%);
    clip-path: polygon(42% 97%, 42% 73%, 22% 78%, 42% 56%, 22% 62%, 42% 36%, 32% 38%, 46% 16%, 58% 38%, 49% 36%, 66% 60%, 48% 56%, 66% 76%, 48% 73%, 49% 97%);
}

section>ul>li:nth-of-type(even) {
    width: 3em;
    height: 5em;
    margin-top: .5em;
    background: linear-gradient(to bottom, rgb(79, 148, 73) 41%, rgb(39, 85, 48) 79%, rgba(76, 36, 0, 1) 82%, rgba(76, 36, 0, 1) 100%);
    clip-path: polygon(42% 97%, 42% 73%, 22% 78%, 42% 56%, 22% 62%, 42% 36%, 32% 38%, 46% 16%, 58% 38%, 49% 36%, 66% 60%, 48% 56%, 66% 76%, 48% 73%, 49% 97%);
}

section>ul>li:nth-of-type(3n) {
    width: 3em;
    height: 7em;
    margin-top: 1em;
    background: linear-gradient(to bottom, rgba(28, 56, 30, 1) 41%, rgba(46, 99, 56, 1) 79%, rgba(76, 36, 0, 1) 82%, rgba(76, 36, 0, 1) 100%);
    clip-path: polygon(42% 97%, 42% 73%, 22% 78%, 42% 56%, 22% 62%, 42% 36%, 32% 38%, 46% 16%, 58% 38%, 49% 36%, 66% 60%, 48% 56%, 66% 76%, 48% 73%, 49% 97%);
}

section>ul:hover li:nth-of-type(3n) {
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: boomonder;
}

section>ul:hover li:nth-of-type(even) {
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: boomlinks;
}

section>ul:hover li {
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: boomrechts;
}



/* boom animaties */
@keyframes boomlinks {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(3em) translateX(-5em);
    }

    50% {
        transform: translateY(-2em) translateX(-25em);
    }

    75% {
        transform: translateY(1em) translateX(-35em);
    }

    98% {
        transform: translateY(-3em) translateX(-55em);
    }

    99% {
        transform: translateY(-3em) translateX(-95em);
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

@keyframes boomrechts {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(6em) translateX(5em);
    }

    50% {
        transform: translateY(2em) translateX(25em);
    }

    75% {
        transform: translateY(4em) translateX(35em);
    }

    98% {
        transform: translateY(1em) translateX(55em);
    }

    99% {
        transform: translateY(4em) translateX(95em);
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

@keyframes boomonder {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(4em) translateX(5em);
    }

    50% {
        transform: translateY(8em) translateX(-5em);
    }

    75% {
        transform: translateY(12em) translateX(5em);
    }

    98% {
        transform: translateY(16em) translateX(-5em);
    }

    99% {
        transform: translateY(24em) translateX(5em);
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}


@keyframes wolkjes {
    0% {
        transform: translatex(0);
    }

    25% {
        transform: translatex(10em);
    }

    50% {
        transform: translatex(0em);
    }

    75% {
        transform: translatex(-10em);
    }

    100% {
        transform: translatex(0em);
    }
}